<div id="">
    <h2 id="">审核序列</h2>
    <p id="">审核用户上传的抗菌肽序列
    </p>
</div>
<div id="check_sequ">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">查询序列
        </div>
        <div id="check_toolbar" class="btn-group">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <select class="form-control" id="check_export_type">
                        <option value="basic">Export Basic</option>
                        <option value="selected">Export Selected</option>
                        <option value="all">Export All</option>
                    </select>
                </div>
                <button id="check_export_result" class="btn btn-default">导出fasta文件</button>
                <button id="check_export_save" class="btn btn-default">保存</button>
                <button id="check_export_del" class="btn btn-default">删除</button>
            </div>
        </div>
        <!-- Table -->
        <table class="table" id="check_sequ_table">
        </table>
        <div class="panel-footer">下载数据</div>
    </div>
</div>