<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Citation</title>
  <script src="..\lib\jquery-3.1.1\jquery.js"></script>
  <script src="..\lib\bootstrap-3.3.7\js\bootstrap.js"></script>
  <link rel="stylesheet" href="..\lib\bootstrap-3.3.7\css\bootstrap.css">
  <link rel="stylesheet" href="..\css\core.css">

</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Citation</h1>
      <div style="word-break:break-word;">
        <p>[1] Junzhe Cao, Wenqi Liu, Jianjun He, Hong Gu. Mining proteins with non-experimental annotations based on an active
          sample selection strategy for predicting protein subcellular localization. PLOS ONE, 2013, 8(6): e67343. </p>
        <p>[2] Junzhe Cao, Wenqi Liu, Jianjun He, Hong Gu. Identifying the singleplex and multiplex proteins based on transductive
          learning for protein subcellular localization prediction. Biotechnology Letters, 2013, 35(7): 1107-1113.</p>
        <p>[4] Junzhe Cao, Wenqi Liu, Hong Gu. Predicting Viral Protein Subcellular Localization with Chou’s Pseudo Amino Acid
          Composition and Imbalance-Weighted Multi-Label K-Nearest Neighbor Algorithm. Protein and Peptide Letters, 2012,
          19(11): 1163-1169. </p>
        <p>[5] Hong Gu, Junzhe Cao. A Novel Integrated Method for Human Multiplex Protein Subcellular Localization Prediction.
          Proceeding of 2013 IEEE International Conference on Big Data, October, 6-9, 2013, Silicon Valley, CA, USA, 2013:58-62.
          </p>
        <p>[6] Zhe Ju, Jun-Zhe Cao, Hong Gu. iLM-2L: A two-level predictor for identifying protein lysine methylation sites
          and their methylation degrees by incorporating K-gap amino acid pairs into Chou's general PseAAC. Journal of Theoretical
          Biology, 2015, 385:50-57.</p>
        <p>[7] Zhe Ju, Jun-Zhe Cao, Hong Gu. Predicting lysine phosphoglycerylation with fuzzy SVM by incorporating k-spaced
          amino acid pairs into Chou's general PseAAC. Journal of Theoretical Biology,2016, 397: 145-150.</p>
        <p>[8] Ming Jiang, Jun-Zhe Cao. Positive-Unlabeled Learning for Pupylation Sites Prediction. BioMed Research International,
          Volume 2016 (2016): 4525786.</p>
        <p>[9] Bu Xiaoting, Junzhe Cao, Hong Gu. Prediction of Antimicrobial Peptides and their Functional Types Based on Multi-Label
          Transductive Learning, Journal of Dalian University of Technology, 2017, 57(3): 293-301.</p>
      </div>
    </div>
  </div>
</body>

</html>