

<html>
 <head>
  <title>Citation</title>
<style type="text/css">
    body{margin:auto;font-family:Arial;font-size:20px;}
	span{font-weight:600;}

  </style>
 </head>

 <body bgcolor="#99cccc">
 <BR>
 <Br>
  <font Size="+2"><a href="mailto:juzhe1120@hotmail.com">Zhe Ju</a> and Hong Gu</a>&nbsp&nbsp"Predicting pupylation sites in prokaryotic proteins using semi-supervised self-training support vector machine algorithm.
" Analytical Biochemistry: Methods in the Biological Sciences.
</font><BR><BR>
<center>
<BR><BR>

  <a href="javascript:window.close();">Close</a></center>
</body>
</html>
