

<html>
 <head>
  <title>Citation</title>
<style type="text/css">
    body{margin:auto;font-family:Arial;font-size:20px;}
	span{font-weight:600;}

  </style>
 </head>

 <body bgcolor="#99cccc">
 <BR>
 <Br>
  <font Size="+2"><a href="mailto:juzhe1120@hotmail.com">Zhe Ju</a>, Jun-Zhe Cao and Hong Gu</a>&nbsp&nbsp"Predicting lysine phosphoglycerylation with fuzzy SVM by incorporating k-spaced amino acid pairs into Chou's general PseAAC." Journal of theoretical biology 397 (2016): 145-150.
</font><BR><BR>
<center>
<BR><BR>

  <a href="javascript:window.close();">Close</a></center>
</body>
</html>
