<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <script src="..\lib\jquery-3.1.1\jquery.js"></script>
    <script src="..\lib\bootstrap-3.3.7\js\bootstrap.js"></script>
    <link rel="stylesheet" href="..\lib\bootstrap-3.3.7\css\bootstrap.css">
    <link rel="stylesheet" href="..\css\core.css">

</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Contact</h1>
            <div style="word-break:break-word;">
                <p>Junzhe Cao, Ph.D.</p>
                <p>School of Control Science and Engineering, Dalian University of Technology, #2 Ling-gong Road, Dalian, China</p>
                <p>caojunzhe@dlut.edu.cn </p>
                <p>Powered by Jiaqing Wan</p>
                <p>wanjacean@outlook.com</p>
            </div>
        </div>
    </div>
</body>

</html>