<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>序列详情</title>
    <script src="..\lib\jquery-3.1.1\jquery.js"></script>
    <script src="..\lib\bootstrap-3.3.7\js\bootstrap.js"></script>
    <link rel="stylesheet" href="..\lib\bootstrap-3.3.7\css\bootstrap.css">
    <script src="..\lib\bootstrap-table\bootstrap-table.js"></script>
    <link rel="stylesheet" href="..\lib\bootstrap-table\bootstrap-table.css">
    <link rel="stylesheet" href="..\css\site.min.css">
    <link rel="stylesheet" href="..\css\core.css">
    <script src="..\js\tools.js"></script>
    <a href="http://www.bootcdn.cn/"></a>
    <script>
        var uid = GetUrlParms().querys['uid'];

        function setkey(k) {
            if (k == "fromdb") {
                return "source database"
            }
            if (k == "dblink") {
                return "database link"
            }
            return k;
        }
        function setShow(data) {
            for (var key in data) {
                if (key == "seqmd") { continue; }
                var html = "";
                html = '' +
                    '<a class="package list-group-item ' +
                    (key == "dblink" ? ('bst-link " href="' + data[key] + '" ') : ('" target="_blank"')) +
                    '><div class="row">' +
                    '<div class="col-md-3">' +
                    '<h4 class="package-name">' + setkey(key) + '</h4>' +
                    '</div>' +
                    '<div class="col-md-9 hidden-xs">' +
                    '<p class="package-description">' + data[key] +
                    '</p>' +
                    '</div>' +
                    //'<div class="package-extra-info col-md-9 col-md-offset-3 col-xs-12"><span><i class="fa fa-star"></i> search count</span></div>'+
                    '</div>' +
                    '</a>' +
                    '';
                $(html).insertBefore("#go_index");
            }
            // $("#seq_title").text(data['title']);
            // $("#seq_seq").text(data['sequence']);
        }
        $.ajax({
            cache: true,
            type: "GET",
            url: 'ajax_data_detail.php',
            data: {
                uid: uid
            },
            async: true,
            error: function (request) {
                //alert("ajax error:请求失败！");
                console.log(request.responseText);
            },
            success: function (data) {
                if (data.status == "ok") {
                    setShow(data.result);
                } else {
                    console.log(data.result);
                }

            },
            dataType: "json"
        });
    </script>
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-static-top main-navbar" id="top">
            <div class="container">



            </div>
        </nav>
        <div class="container jumbotron">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Antimicrobial Peptide Predicting Platform</h3>
                    <p id="seq_seq"></p>
                </div>
            </div>
        </div>
        <!--<div class="mostused-packages well well-sm text-center hidden-xs hidden-sm">
        </div>-->
    </header>

    <main class="packages-list-container" id="all-packages">
        <div class="container">
            <div class="list-group packages" id="common-packages">
                <a id="go_index" href="javascript:history.go(-1);" class="package list-group-item all-packages" target="_blank"></a>
            </div>
            <div class="list-group packages" id="search-results" style="display: none"></div>
        </div>
    </main>
</body>

</html>