<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>peptide</title>
    <script src="..\lib\jquery-3.1.1\jquery.js"></script>
    <script src="..\lib\jacean\Util.js"></script>

    <!-- 前期考虑不周，模块设计垃圾，关联耦合较重，FMVC崩塌
         原意不用框架，能重写的尽量重写，可惜gg，太浪了
     -->
    <!-- third part lib-->
    <!--<script src="https://cdn.bootcss.com/blueimp-md5/2.7.0/js/md5.js"></script>-->
    <link rel="stylesheet" href="..\lib\bootstrap-table\bootstrap-table.css">
    <link rel="stylesheet" href="..\lib\bootstrap-3.3.7\css\bootstrap.css">
    <script src="..\lib\bootstrap-3.3.7\js\bootstrap.js"></script>
    <script src="..\lib\bootstrap-table\bootstrap-table.js"></script>
    <!--edit-->
    <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="..\lib\bootstrap-table\extensions/editable/bootstrap-table-editable.js"></script>
    
    <script src="..\lib\select2-4.0.3\js\select2.js"></script>
    <link rel="stylesheet" href="..\lib\select2-4.0.3\css\select2.css">
    <link rel="stylesheet" href="..\lib\jquery-ui-1.12.1\jquery-ui.css">
    <script src="..\lib\jquery-ui-1.12.1\jquery-ui.js"></script>

    <!---->
    <!-- data -->
    <script src="template/select.data.js"></script>
    <script src="template/slide.data.js"></script>
    <script src="template/table.data.js"></script>
    <!---->

    <link rel="stylesheet" href="..\css\core.css">
    <link rel="stylesheet" href="..\css\jButton.css">
    <link rel="stylesheet" href="..\css\jSlide.css">
    <link rel="stylesheet" href="..\css\jUpload.css">
    <link rel="stylesheet" href="..\css\jLoading.css">
    <link rel="stylesheet" href="..\css\jUserNotify.css">

    <script src="..\js\core.js"></script>
    <script src="..\js\jSlide.js"></script>
    <script src="..\js\jUpload.js"></script>
    <script src="..\js\jBsTable.js"></script>
    <script src="..\js\jUserNotify.js"></script>

    <!-- control -->
    <script src="template/search.ctrl.js"></script>
    <script src="template/add.ctrl.js"></script>
    <script src="template/predict.ctrl.js"></script>
    <script src="template/slide.ctrl.js"></script>
    <script src="template/check.ctrl.js"></script>

    <script>
        $(document).ready(function () {
            //TODO://检查本地缓存登录状态
            // checkLogStatus();


            jUI.usernotify();

            ctrl_slide_init();
            //***//设置默认显示搜索页面,开始
            //$("[data-value=search]").click();
            // $("[data-value=add]").click();
            var anchor = Util.url.Hash(window.location);
            var moduleOption = ["IMP_PUP", "iLM_2L", "CKSAAP_PhoglySite","peptide"];
            if (moduleOption.indexOf(anchor) > -1) {
                showTab(anchor, $("[data-value='" + anchor + "']"));
            } else if (anchor == "search" || anchor == "add") {
                showTab(anchor);
            } else if (anchor == "check") {
                //正经情况下，这里的用户登录态应该传至服务器由服务器哦判断TODO：？？？
                if (window.isLog != "LOG_END") {
                    showTab(moduleOption[0], $("[data-value='" + moduleOption[0] + "']"));
                } else {
                    showTab(anchor);
                }
                // showTab(anchor);
            } else {
                showTab(moduleOption[0], $("[data-value='" + moduleOption[0] + "']"));
            }
        });


        function showTab(value, dom) {
            //var value=$(dom).data("value");
            if (value == "IMP_PUP" || value == "iLM_2L" || value == "CKSAAP_PhoglySite" || value == "peptide"||value=="IMKNN") {
                $("#tabContainer").load("template/predict.tpl.html", function (r, s) {
                    if (s == "success") {
                        ctrl_predict_init(dom);
                    }
                });
            }
            if (value == "search") { //添加搜索模块
                $("#tabContainer").load("template/search.tpl.html", function (r, s, x) {
                    if (s == "success") {
                        ctrl_search_init();
                    }
                });
            }
            if (value == "add") {
                $("#tabContainer").load("template/add.tpl.html", function (r, s, x) {
                    if (s == "success") {
                        ctrl_add_init();
                    }
                });
            }
            if (value == "check") {
                $("#tabContainer").load("template/check.tpl.html", function (r, s, x) {
                    if (s == "success") {
                        ctrl_check_init();
                    }
                });
            }
            Util.url.Hash(window.location, value);

        }
    </script>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="slideContainer">
            </div>
            <div class="col-md-9" id="tabContainer">
            </div>
        </div>
        <div class="row"></div>
    </div>
</body>

</html>