<html>
 <head>
  <title>ReadMe</title>
 </head>

 <body bgcolor="#99cccc">
  <font Size="+3" color="Blue">The web-server is established for predicting protein lysine methylation sites and their methylation degrees.</font><BR><BR><BR>

<font Size="+4" color="Red">NOTE:<BR>
<font Size="+3" color="Black"> 1.To obtain the predicted results , please input the query protein sequences.<BR>
<font Size="+3" color="Black"> 2.The accepted characters are: A, C, D, E, F, G, H, I, K, L, M, N, P, Q, R, S, T, V, W, Y, and the dummy code X. If the query sequence contains any illegal characters, the prediction will be stopped.<BR>

<center>
<BR><BR><BR><BR>
<a href=javascript:window.close()><span style=font-size:25px>Close</span></a></center>

 </body>
</html>